/* select option{
    width: 30px;
    color: cornflowerblue;
} */
option:hover{
    background-color: blue;
    cursor: grab;
    /* cursor: -webkit-grab; cursor: grab; */


}
.option{
    overflow: scroll;
    height: 150px;
    width: 350px;
    border: 1px solid black;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}