.deaths{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid blue;
    height: 300px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 300px;
}
.sort{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px;
}
li:hover{
    background-color: blue;
    cursor: grab;
}
